* {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
   --fc-primary: white;
   --bg-color: black;
   --ff-primary: 'Roboto', sans-serif;
}

.sr-only {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   border: 0;
}

body {
   font-size: 1.6rem;
   background-color: var(--bg-color);
}

body * {
   color: var(--fc-primary);
   font-family: var(--ff-primary);
   font-weight: 700;
}

#app {
   max-width: 132.0rem;
   display: flex;
   flex-direction: column;
   gap: 8.7rem;

   margin: 0 auto;
   padding: 11.5rem 10rem 0;
}

header {
   display: flex;
   align-items: center;
   justify-content: space-between;

   width: 100%;
}

header .search-wrapper {
   display: flex;
   gap: 0.8rem;
   justify-content: flex-end;

   max-width: 64.0rem;
   width: 100%;
}

header .search-wrapper input {
   font-weight: 400;
   font-size: 1.6rem;
   color: var(--fc-primary);
   background: #06181C;

   max-width: 46.2rem;
   width: 100%;
   padding: 1rem 1.6rem;
   border-radius: 5px;
}

header .search-wrapper button {
   background: #065E7C;
   display: flex;
   gap: 0.8rem;
   align-items: center;
   justify-content: center;
   cursor: pointer;

   border-radius: 5px;
   padding: 1.2rem 3.2rem;
}

header .search-wrapper button span {
   font-size: 1.4rem;
   text-transform: uppercase;
}

main {
   width: 100%;
}

main table {
   font-weight: 700;
   font-size: 2.0rem;
   text-align: left;

   border-radius: 1.2rem;
   border-collapse: collapse;
   width: 100%;

   table-layout: fixed;
   border: 1px solid #4A808C;

   overflow: hidden;
   background-color: #4A808C;
}

main table thead tr, main table tbody tr {
   border: 1px solid #4A808C;
}

main table tr th {
   padding: 1.6rem 0 1.6rem 4.0rem;
}


main table thead tr th {
   background-color: #092D38;
}

main table thead tr:first-child th:first-child {
   border-top-left-radius: 1.2rem;
}

main table thead tr:first-child th:last-child {
   border-top-right-radius: 1.2rem;
}

main table tbody tr:last-child td:first-child {
   border-bottom-left-radius: 1.2rem;
}

main table tbody tr:last-child td:last-child {
   border-bottom-right-radius: 1.2rem;
}

main table tbody tr:nth-child(even) {
   background-color: #06181C;
}

main table tbody tr:nth-child(odd) {
   background-color: rgba(6, 22, 27, 0.5);
}

main table tbody tr td {
   padding: 2.4rem 0 2.4rem 4.0rem;
}

main table tbody tr td:first-child {
   display: flex;
   align-items: center;
   gap: 1.6rem;

   width: 45%;
}

main table tbody tr td:last-child p {
   color: #F75A68;
   cursor: pointer;
}

.name-wrapper {
   display: flex;
   flex-direction: column;
   gap: 0.8rem;
}

.name-wrapper p:last-child {
   font-weight: 400;
   font-size: 2.0rem;
}

main table tbody tr td img {
   border-radius: 50%;

   width: 5.6rem;
   height: 5.6rem;
}